{% comment %}
  *** Collection page ***
  See https://shopify.dev/docs/themes/architecture/templates/collection
{% endcomment %}
<div class="my_section my_collection">
  <!-- Collection section -->
  {% render 'section_title' %}

  <h2>{{ section.settings.my_title }}</h2>

  <!-- Product thumbnails -->
  <div style="overflow: hidden; margin: 0 auto; padding-left: 15%;">
    {% for product in collection.products %}
      <div style="float: left; width: 40%;">
        <fieldset>
          <legend>{{ product.title }}</legend>
          <div>
            <a href="{{ product.url }}">
              {% if product.images != empty %}
                {{ product | image_url: width: 300 | image_tag: height: 300 }}
              {% else %}
                <img alt="No image" src="" width="300" height="300" loading="lazy">
              {% endif %}
            </a>
          </div>
          <div>{{ product.price | money_with_currency }}</div>
        </fieldset>
      </div>
    {% endfor %}
  </div>
  <div style="float: none;"></div>

  {% render 'home' %}

  <p>👉 <a href="https://shopify.dev/docs/themes/architecture/templates/collection" target="_blank">Dev. doc</a></p>
</div>

{% schema %}
{
  "name": "t:sections.collection.name",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "my_title",
      "label": "Collection title",
      "default": "THIS IS MY COLLECTION"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}
