{% comment %}
  *** Customer account page ***
  See https://shopify.dev/docs/themes/architecture/templates/customers-account
{% endcomment %}
<div class="my_section my_account">
  <!-- Customer account section -->
  {% render 'section_title' %}

  <h2>Your info</h2>
  <p>Email: {{ customer.email }}</p>
  <p>Phone: {{ customer.phone }}</p>
  <p>
    Name: {{ customer.first_name }}
    {{ customer.last_name }}
  </p>
  <p>Tags: {{ customer.tags }}</p>

  <h2>Your orders</h2>
  <table style="width: 800px;">
    <tr>
      <td>Order #</td>
      <td>Total</td>
      <td>Items</td>
    </tr>
    {% paginate customer.orders by 10 %}
      {% for order in customer.orders %}
        <tr>
          <td>
            {{ order.order_number }}
          </td>
          <td>{{ order.total_price | money }}</td>
          <td>
            <ul style="text-align: left;">
              {% for item in order.line_items %}
                <li>
                  {{ item.title }}
                  {{ item.variant.price | money }} ({{ item.quantity }})
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </table>

  <h2>Your default address</h2>
  {% if customer.default_address %}
    <p>
      {{ customer.default_address.address1 }}
    </p>

    {% if customer.default_address.address2 != blank %}
      <p>
        {{ customer.default_address.address2 }}
      </p>
    {% endif %}

    <p>
      {{ customer.default_address.city }}, {{ customer.default_address.province }},
      {{ customer.default_address.country }}
    </p>
    <p>
      {{ customer.default_address.zip_code }}
    </p>
    <p>
      {{ customer.default_address.phone }}
    </p>
  {% endif %}

  🚪 <a href="{{ routes.account_logout_url }}">Logout</a>

  {% render 'home' %}
</div>
