{% comment %}
  *** Header ***
  See https://shopify.dev/docs/themes/architecture/layouts
{% endcomment %}
<div class="my_section my_header">
  <!-- Header section -->
  {% render 'section_title' %}

  <h1>
    <a href="{{ request.locale.root_url }}">{{ section.settings.title }}</a>
  </h1>

  {% render 'hello' %}

  <p style="text-align: right;" class="my_right_space">
    <!-- Account page link -->
    👤 <a href="{{ routes.account_url }}">My page</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- Cart link -->
    🛒 <a href="{{ routes.cart_url }}">My cart: {{ cart.item_count }}</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- language and currency selector -->
    {% comment %}
      See https://shopify.dev/docs/themes/markets/multiple-currencies-languages
      'changeUrlInSelector' is defined in 'my_js.js'.
      This sample uses simpler integration using request and route Liquid.
      See https://shopify.dev/docs/api/liquid/objects/request
    {% endcomment %}
    🌎
    <select onchange="changeUrlInSelector(this);">
      {% for locale in localization.available_languages %}
        {% assign path = request.path | remove_first: request.locale.root_url %}
        {% assign url = locale.root_url | append: '/' | append: path | replace: '//', '/' | replace: '//', '/' %}
        <option
          value="{{ url }}"
          {% if locale.iso_code == request.locale.iso_code %}
            selected
          {% endif %}
        >
          {{ locale.name }}
        </option>
      {% endfor %}
    </select>
    <select onchange="changeUrlInSelector(this);">
      {% for country in localization.available_countries %}
        <option
          value="{{ request.path }}?currency={{ country.currency.iso_code }}&country={{ country.iso_code }}"
          {% if country.currency.iso_code == localization.country.currency.iso_code
            and country.iso_code == localization.country.iso_code
          %}
            selected
          {% endif %}
        >
          {{ country.currency.symbol }}
          {{ country.currency.iso_code }} / {{ country.iso_code }}
        </option>
      {% endfor %}
    </select>
  </p>

  <!-- Search -->
  <p style="text-align: right;" class="my_right_space">
    🔎 <input type="text" placeholder="Input keywords and push Enter" size="30" id="my_search">
  </p>

  <!-- Rendering blocks -->
  <div style="overflow: hidden; padding-left: 20px;">
    {% for block in section.blocks %}
      <div class="my_block" style="float: left;">
        <div class="my_block_title">Block ({% increment i %})</div>

        {% case block.type %}
          {% when 'my_type_1' %}
            <!-- Image square -->
            <div class="my_block_header">
              {% if block.settings.my_image %}
                {{ block.settings.my_image | image_url: width: 100 | image_tag: height: 100 }}
              {% endif %}
            </div>

          {% when 'my_type_2' %}
            <!-- Color square -->
            <div style="background-color: {{ block.settings.my_color }};" class="my_block_header">&nbsp;</div>
        {% endcase %}
      </div>
    {% endfor %}
  </div>
  <div style="float: none;"></div>

  <p>👉 <a href="https://shopify.dev/docs/themes/architecture/layouts" target="_blank">Dev. doc</a></p>
</div>

<script>
  // See https://shopify.dev/docs/themes/navigation-search/search
  const input = document.querySelector('#my_search');
  input.addEventListener('keypress', (e) => {
    if (event.key === 'Enter') {
      const path = `{{ request.locale.root_url }}/`.replace(/\/\//, '/');
      window.location.href = `${path}search?q=${input.value}&type=product&options[unavailable_products]=hide&options[prefix]=last`;
    }
  });
  input.value = new URLSearchParams(window.location.search).get('q');
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "THIS IS MY HEADER"
    }
  ],
  "max_blocks": 8,
  "blocks": [
    {
      "name": "My Image",
      "type": "my_type_1",
      "settings": [
        {
          "type": "image_picker",
          "id": "my_image",
          "label": "My Image"
        }
      ]
    },
    {
      "name": "My Color",
      "type": "my_type_2",
      "settings": [
        {
          "type": "color",
          "id": "my_color",
          "label": "My Color"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
