{% comment %}
  *** Header ***
  See https://shopify.dev/docs/themes/architecture/layouts
{% endcomment %}
<div class="my_section my_header">
  <!-- Header section -->
  <div class="my_block_title">Section</div>

  <h1> <a href="{{ request.locale.root_url }}">{{ section.settings.title }}</a></h1>

  {% render 'hello' %}

  <p style="text-align: right;" class="my_right_space">
    <!-- Account page link -->
    👤 <a href="{{ routes.account_url }}">My page</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- Cart link -->
    🛒 <a href="{{ routes.cart_url }}">My cart: {{ cart.item_count }}</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- language selector -->
    {% comment %}
      See https://shopify.dev/docs/api/liquid/objects/localization
      'changeLang' is defined in 'my_js.js'.
    {% endcomment %}
    🌎
    <select onchange="changeLang(this);">
      {% for locale in localization.available_languages %}
        {% assign path = request.path | remove_first: request.locale.root_url %}
        {% assign url = locale.root_url | append: '/' | append: path | replace: '//', '/' | replace: '//', '/' %}
        <option
          value="{{ url }}"
          {% if locale.iso_code == request.locale.iso_code %}
            selected
          {% endif %}
        >
          {{ locale.name }}
        </option>
      {% endfor %}
    </select>
  </p>

  <!-- Search -->
  <p style="text-align: right;" class="my_right_space">
    🔎 <input type="text" placeholder="Input keywords and push Enter" size="30" id="my_search">
  </p>

  <!-- Rendering blocks -->
  {% for block in section.blocks %}
    <div class="my_block">
      <div class="my_block_title">Block ({% increment i %})</div>

      {% case block.type %}
        {% when 'my_type_1' %}
          <!-- Logo image -->
          <div>{{ block.settings.my_logo | image_url: 'medium' | image_tag }}</div>

        {% when 'my_type_2' %}
          <!-- Color square -->
          <div style="background-color: {{ block.settings.my_color }};">&nbsp;</div>
      {% endcase %}
    </div>
  {% endfor %}

  <p>👉 <a href="https://shopify.dev/docs/themes/architecture/layouts" target="_blank">Dev. doc</a></p>
</div>

<script>
  // See https://shopify.dev/docs/themes/navigation-search/search
  const input = document.querySelector('#my_search');
  input.addEventListener('keypress', (e) => {
    if (event.key === 'Enter') {
      const path = `{{ request.locale.root_url }}/`.replace(/\/\//, '/');
      window.location.href = `${path}search?q=${input.value}&type=product,page&options[unavailable_products]=hide&options[prefix]=last`;
    }
  });
  input.value = new URLSearchParams(window.location.search).get('q');
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "THIS IS MY HEADER"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "My Logo",
      "type": "my_type_1",
      "settings": [
        {
          "type": "image_picker",
          "id": "my_logo",
          "label": "My Logo"
        }
      ]
    },
    {
      "name": "My Color",
      "type": "my_type_2",
      "settings": [
        {
          "type": "color",
          "id": "my_color",
          "label": "My Color"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
