<div class="my_section my_home">
  <div class="my_block_title">Section</div>

  <h2>{{ section.settings.my_title }}</h2>

  <p>👀 {{ 'sections.home_page.message' | t }}</p>

  {% for block in section.blocks %}
    <div class="my_block">
      <div class="my_block_title">Block ({% increment i %})</div>

      {% case block.type %}
        {% when 'my_type_1' %}
          <p>
            <a href="{{ block.settings.my_collection.url }}">My collection: {{ block.settings.my_collection.title }}</a>
          </p>
        {% when 'my_type_2' %}
          <p>
            <a href="{{ block.settings.my_product.url }}">My product: {{ block.settings.my_product.title }}</a>
          </p>
      {% endcase %}
    </div>
  {% endfor %}

  <p>
    👉 <a href="https://shopify.dev/docs/themes/architecture/templates/index-template" target="_blank">Dev. doc</a>
  </p>
</div>

{% schema %}
{
  "name": "t:sections.home_page.name",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "my_title",
      "label": "Home page title",
      "default": "THIS IS MY HOME PAGE"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "My Collection",
      "type": "my_type_1",
      "settings": [
        {
          "type": "collection",
          "id": "my_collection",
          "label": "My Collection"
        }
      ]
    },
    {
      "name": "My Product",
      "type": "my_type_2",
      "settings": [
        {
          "type": "product",
          "id": "my_product",
          "label": "My Product"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["index"]
  }
}
{% endschema %}
