<div class="my_section">
  <div class="my_block_title">Section</div>

  <h2>{{ section.settings.my_title }}</h2>

  {% for block in section.blocks %}
    <div class="my_block">
      <div class="my_block_title">Block ({% increment i %})</div>

      {% case block.type %}
        {% when 'my_type_1' %}
          <p>
            <a href="{{ block.settings.my_collection.url }}">My collection: {{ block.settings.my_collection.title }}</a>
          </p>
        {% when 'my_type_2' %}
          <p>
            <a href="{{ block.settings.my_product.url }}">My product: {{ block.settings.my_product.title }}</a>
          </p>
      {% endcase %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Home Page",
  "settings": [
    {
      "type": "text",
      "id": "my_title",
      "label": "Home page title",
      "default": "THIS IS MY HOME PAGE"
    }
  ],
  "blocks": [
    {
      "name": "My Collection",
      "type": "my_type_1",
      "settings": [
        {
          "type": "collection",
          "id": "my_collection",
          "label": "My Collection"
        }
      ]
    },
    {
      "name": "My Product",
      "type": "my_type_2",
      "settings": [
        {
          "type": "product",
          "id": "my_product",
          "label": "My Product"
        }
      ]
    }
  ]
}
{% endschema %}
